:root{
    --cover-color: rgba(255,255,255,0.1);
}

main{
    max-width: 50em;
    margin: 8em auto;
    padding: 1em;
}

#feed-container *{
    text-decoration: none;
}

#feed-container li{
    border-bottom: 0.1em solid var(--color-secondary);
}

#feed-container li:last-child{
    border-bottom: none;
}

.post{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 1em;
}

.post:hover{
    background-color: var(--cover-color);
}

.post > div{
    display: flex;
    flex-direction: column;
}

.post img{
    width: 10em;
    max-width: 25vw;
    height: auto;
    max-height: 25em;
    object-fit: contain;
    object-position: top;
}

@media only screen and (max-width: 450px) {
    h2{
        font-size: 1.2em;
    }

    .post{
        gap: 1em;
    }
}

.meta{
    font-size: 0.8rem;
    margin: 0 0 0.75em 0;
}